.main-container {
    padding: 3rem;
}

.burger-menu {
    filter: invert(79%) sepia(22%) saturate(4646%) hue-rotate(323deg) brightness(106%) contrast(91%);
}

.welcome-prompt {
    color: #F39A59;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.welcome-prompt-appear {
    opacity: 0;
}

.welcome-prompt-appear-done {
    opacity: 1;
    transition: opacity 750ms;
}

.input-output-section {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 2rem;
    overflow: hidden;
    max-height: 60vh;
    transition: max-height 2s ease-in;
}

.input-output-section.expand {
    transition: max-height 2s ease-in;
    max-height: 2000px;
}

.input-output-container {
    min-height: 0px;
    padding: 4rem;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 60vw;
    transition: opacity
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: opacity 1s ease-in;
}

.input-container.hidden {
    transition: opacity 1s ease-in;
}

.input-label {
    color: #F39A59;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.input-area {
    grid-column: 1/4;
    padding: 1.2rem;
    resize: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
}

.input-area:empty:before {
    content:attr(data-placeholder);
    color:#E4E4E4;
}

.input-button {
    grid-column: 2;
    justify-self: center;
    align-self: flex-end;
    width: 150px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #6E8898;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: background-color 150ms linear;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.input-button:hover {
    transition: background-color 150ms linear;
    background-color: white;
    color: #6E8898;
}

/* FAVORITES SECTION */
.favorites-container {
    padding: 3rem;
}

.favorites-title {
    color: #F39A59;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.favorite-card-column-section {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: flex-start;
}

.favorite-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.favorite-card-container-active {
    box-sizing: border-box;
    display: flex;
    margin: 1rem 1rem 0rem 0rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    width: 100%;
}






/* 

.main-top {
    display: flex;
    flex-direction: row;
}

.inputOutputContainer {
    margin: 3rem;
    background-color: #FFF9F8;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;
    min-width: 700px;
    flex-grow: 1;
}

#inputHeading1 {
    font-family: 'Inter';
    font-weight: 900;
    text-shadow: -0.5px 0.5px, 0.5px 0.5px, 0.5px 0.5px;
    letter-spacing:1px;
}

#inputHeading2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    text-shadow: -0.5px 0.5px, 0.5px 0.5px, 0.5px 0.5px;
    letter-spacing:1px;
    margin-top: auto;
    padding: 0.5rem 0.5rem;
}

.inputSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 2rem;
}

#mainIngredientsInputContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
#mainIngredientsTextInput {
    padding: 1rem;
    resize: none;
    height: 100%;
    margin-top: 2rem;
    border: none;
    border-radius: 20px;
}

#headingAndButtonContainer {
    display: flex;
    justify-content: space-between;
}

#timerButtonContainer {
    display: flex;
    gap: 0.5rem;
}

#displayTime {
    max-width: 100%;
    display: flex;
    border-radius: 20px;
    background-color:white;
    margin-top: 2rem;
    justify-content: center;
    align-content: center;
}

#displayTime p {
    font-size: 64px;
    font-family: 'Inter';
    font-weight: bold;
    text-shadow: -1px 1px, 1px 1px, 1px 1px;
}

#submitButton {
    display: flex;
    justify-content: flex-end;
}

#submitButton p {
    font-family: 'Inter';
}

.favoritesContainer {
    margin: 5rem;
}

.favoritesContainer h2 {
    font-family: 'Inter';
    font-weight: 900;
    text-shadow: -0.5px 0.5px, 0.5px 0.5px, 0.5px 0.5px;
    letter-spacing:1px;
}

.hideInputContainer {
    display: none;
}

.loadingSymbol {
    margin-right: 1rem;
    line-height: 0%;
}

.notLoading {
    display: none;
} */
