.head {
    margin: 0;
    background-image: url("/assets/headBackground.png");
    background-size: cover;
    height: 65rem;
    padding: 4em;
}

.howContainer {
    padding: 4em;
    font-family: 'Inter';
}

.howContainer h1 {
    font-weight: 950;
    font-size: 50px;
    text-shadow: -1px 1px, 1px 1px, 1px 1px;
}

.head1 {
    font-family: 'Inter';
    color: white;
    margin-bottom: 40px;
}

.head1 h1 {
    font-size: 64px;
    font-weight: 1000;
    text-shadow: -1px 1px, 1px 1px, 1px 1px;
}

.head1 h3 {
    font-size: 30px;

}

#cookingButton {
    height: 60px;
    width: 250px;
    display: inline-flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #FFC49A; 
    border-radius: 20px;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFC49A;
    transition: background-color 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

#cookingButton:hover {
    background-color: white;
    color: #FFC49A;
    transition: background-color 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

#cookingButton #cookingButtonText {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: -0.5px 0.5px, 0.5px 0.5px, 0.5px 0.5px;
    letter-spacing:2px;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#cookingButton #cookingButtonText:hover {
    color: #FFC49A;
    transition: color 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

