.logout-button-container {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    filter: invert(79%) sepia(22%) saturate(4646%) hue-rotate(323deg) brightness(106%) contrast(91%);
}
#logout-button {
    width: 1rem;
    height: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
    color: #F39A59;
    cursor: pointer;
}