.recipeContainer #recipeHeading {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    text-shadow: -0.2px 0.2px, 0.2px 0.2px, 0.2px 0.2px;
    letter-spacing:1px;
    margin-top: auto;
    padding: 0.5rem 0.5rem;
}

.recipeContainer #recipeSection {
    max-width: 100%;
    display: flex;
    border-radius: 20px;
    background-color:white;
    padding: 0.5rem 0.5rem;
    margin-top: 2rem;
    align-content: center;
    font-family: 'Inter';
    padding: 1rem 1rem;
    white-space: pre-wrap;
}

.recipeContainer #saveOrGenerateNewSection {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}