.recipe-container-appear {
    opacity: 0;
    transition: opacity 2s;
}

.recipe-container-appear-done {
    opacity: 1;
    transition: opacity 2s;
}


.recipe-container #recipeHeading {
    color: #F39A59;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.recipe-container #recipeSection {
    margin: 0;
    max-width: 100%;
    display: flex;
    border-radius: 20px;
    background-color:white;
    margin-top: 2rem;
    align-content: center;
    font-family: 'Inter';
    white-space: pre-wrap;
}

.recipe-container #saveOrGenerateNewSection {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}